  <nav class="navbar indigo">
    <div class="nav-wrapper">
     
      <div class = "container">

       <ul class="right">
         <li><a  routerLink = '/admin'>Result</a></li>
       </ul>

		<ul class="left">
         <li> <a (click) = "back()" class="btn-floating btn-medium waves-effect waves-light indigo"><i class="material-icons">arrow_back</i></a>
  
       </ul>

  <ul class="center">
         <li><a style="font-size: 20px !important;" class = "brand-logo center" routerLink = '/'>Home</a></li>
        
      </ul>
    </div>
    </div>
    
  </nav>