<app-header></app-header>
<div style= "height: 100vh; background-image: url('assets/bg.png');" id = "body">
	<div class="container">
		<div class = "row">
			<div class = "center">
			<div class="col s12">
					<div class="center">
						 			<img style=" opacity:!important 0.6;" *ngIf = "loadgif" src="assets/loadd.gif">
			 
					</div>
			  		<ul>
			        <div style="margin-top: 20px;" class="card"  *ngFor = "let testEl of tests  | paginate: { itemsPerPage: 3, currentPage: p };  let i = index;" >

			            <a class = "card-title"  style="cursor: pointer;">
			                <p style="text-align: center;">{{testEl.name}}</p>
			            </a>
			                 <div style="width: 100% !important;" class="card-action">
					          <a [routerLink]="[p == 1 ? i : (p*3)-3+i ,'report']" class="btn pink">Results</a>
                            
					        </div>
			        </div>
			         <div class="indigo">
	          <pagination-controls (pageChange)="p = $event"></pagination-controls>
			</div>
			  		</ul>
		    
	        </div>
					
			</div>

			
			


		</div>

	</div>

</div>


<i class="fas fa-edit"></i>