<app-header></app-header>
<div class="" style="background-image: url('assets/bg.png'); height: 100vh;" id="body">

    <div class="container">
      <!--   <h2 class="center animate__animated animate__bounceInUp"  class = "flow-text"style="color: green;">A Test Taking Plateform</h2>
 -->

    <div class=" hide-on-small-only" style=" margin: auto; ">
        <div class="row">

            <div style="" class="row">
                <div class="col m6">
                         <button (click) = "takeTest()"  style="background-color: green;" class=" pulse btn animate__animated animate__backInLeft"><span style="font-size: 20px;">Take Test</span></button>
            
                </div>

                 <div class="  push-m2 col m6">
                    <button style="width: !important  100px;" (click) = "organizeTest()"  style="background-color: indigo;" class="pulse btn animate__animated animate__backInRight"><span style="font-size: 20px;">create Test</span></button>
                </div>
            </div>

                <div>
                    <div class=" col m5">
                <div class="col m6">
                   </div>


               
           
                </div>
         </div>


     


       
        </div>



      


    </div>


    <div class="row">
       <div style="" class="  push-s3 push-s3  col s6">
                <img style="" class =" responsive-img" src="assets/home2.png">
        </div>

    </div>

    </div>

<!-- mobile -->
    <div class="container show-on-small hide-on-med-and-up">
      <div class="row">
        <div class="s12">
          <button (click) = "takeTest()"  style="background-color: green; width: 100%;" class=" pulse btn-large animate__animated animate__backInLeft"><span style="font-size: 20px;">Take Test</span></button>
        </div>
        <div style="margin-top: 20px;" class="s12">
           <button  (click) = "organizeTest()"  style="background-color: indigo;  width: 100%;" class="pulse btn-large animate__animated animate__backInRight"><span style="font-size: 20px;">Organize</span></button>
        </div>
      </div>
    
   


</div>

 
